<!DOCTYPE html>

	<html>
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="fr">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		
		<link rel="stylesheet" href="style/style.css" type="text/css" media="screen">
		
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<title>SnapBlog</title>	
		<script>
			$(function() {
				$("#datepicker").datepicker();
			});
		</script>
	</head>
<body>
        <header>
            <h1>SnapBlog</h1>
        </header>   
        <div class="content">
            <h3><%= title %></h3>
            <div> <%= content %> </div>
        </div>
        <a href="/auth/facebook">Login with Facebook</a>
    </body>
</html>