<!DOCTYPE html>

	<html>
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="fr">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		
		<link rel="stylesheet" href="style/style.css" type="text/css" media="screen">
		
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<title>SnapBlog</title>	
		<script>
			$(function() {
				$("#datepicker").datepicker();
			});
		</script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=944762712255296&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        	</head>
        <body>
        <header>
            <h1>SnapBlog</h1>
        </header>   
        <h3 style="color:white;"><%= message %></h3>
        <form action="/post" method="POST">
            <div class="input Title" >
                <h3>Titre du SnapBlog</h3>
                <input class="input" type="text" name="titleArticle" required="required">
            </div>
            <div class="input Post">
                <h3>Contenu du SnapBlog</h3>
                <textarea  class="input textareaPost" name="content" cols="25" maxlength="1000" required="required"></textarea>
            </div>
            <div class="input">
                <table border="1">
                    <tr>
                        <td>
                            <input type="radio" name="checkDate" value="date">
                            <b>Sélectionnez une date</b>
                        </td>
                        <td>
                            <input type="radio" name="checkDate" value="duration">
                            <b>Sélectionnez une durée</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input  type="text" id="datepicker" name="expirationDate">     
                        </td>
                        <td>
                            <input  type="number" name="expirationCountdown">     
                        </td>
                    </tr>
                </table>
            </div>
            <div class="input">
                <input class="submit" type="submit" value="Poster">
            </div>
        </form> 
        <a href="/auth/facebook">Login with Facebook</a>
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>
    </body>
</html>